.navbar-logo {
    height: 72px;
}

.navbar-right {
    text-align: right;
    overflow: hidden;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.text-center {
    text-align: center;
}

.item-right {
    text-align: right;
}